venv/
__pycache__/
*.pyc
.DS_Store

data/real/*
!data/real/.gitkeep
data/fake/*
!data/fake/.gitkeep

data_realworld/
scripts/_dev-clean.tar.gz
.ffmpeg_bin/

models/*.joblib

*.zip
data_generators/_elevenlabs_respeecher_extract/